<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test" verbose="3">

	<test name="OpenCart Test">
		<classes>
			<class name="AppTest.OpenCartTest" />
		</classes>
	</test>


	<test name="OrangeHRM Test">
		<classes>
			<class name="AppTest.OrangeHRMTest" />
		</classes>
	</test>


	<test name="Google Test">
		<classes>
			<class name="AppTest.GoogleTest" />
		</classes>
	</test>

</suite>